<h1>New category</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :super_category_id %><br />
    <%= f.text_field :super_category_id %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </p>
  <p>
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </p>
  <p>
    <%= f.label :enhanced %><br />
    <%= f.check_box :enhanced %>
  </p>
  <p>
    <%= f.label :new_from %><br />
    <%= f.date_select :new_from %>
  </p>
  <p>
    <%= f.label :new_to %><br />
    <%= f.date_select :new_to %>
  </p>
  <p>
    <%= f.label :friendly_url %><br />
    <%= f.text_field :friendly_url %>
  </p>
  <p>
    <%= f.label :css_class %><br />
    <%= f.text_field :css_class %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :home_order %><br />
    <%= f.text_field :home_order %>
  </p>
  <p>
    <%= f.label :home_title %><br />
    <%= f.text_field :home_title %>
  </p>
  <p>
    <%= f.label :home_text %><br />
    <%= f.text_field :home_text %>
  </p>
  <p>
    <%= f.label :home_link %><br />
    <%= f.text_field :home_link %>
  </p>
  <p>
    <%= f.label :home_image_src %><br />
    <%= f.text_field :home_image_src %>
  </p>
  <p>
    <%= f.label :list_order %><br />
    <%= f.text_field :list_order %>
  </p>
  <p>
    <%= f.label :list_title %><br />
    <%= f.text_field :list_title %>
  </p>
  <p>
    <%= f.label :list_text %><br />
    <%= f.text_field :list_text %>
  </p>
  <p>
    <%= f.label :list_link %><br />
    <%= f.text_field :list_link %>
  </p>
  <p>
    <%= f.label :list_image_src %><br />
    <%= f.text_field :list_image_src %>
  </p>
  <p>
    <%= f.label :category_order %><br />
    <%= f.text_field :category_order %>
  </p>
  <p>
    <%= f.label :category_title %><br />
    <%= f.text_field :category_title %>
  </p>
  <p>
    <%= f.label :category_text %><br />
    <%= f.text_field :category_text %>
  </p>
  <p>
    <%= f.label :category_link %><br />
    <%= f.text_field :category_link %>
  </p>
  <p>
    <%= f.label :category_image_src %><br />
    <%= f.text_field :category_image_src %>
  </p>
  <p>
    <%= f.label :enhanced_order %><br />
    <%= f.text_field :enhanced_order %>
  </p>
  <p>
    <%= f.label :enhanced_title %><br />
    <%= f.text_field :enhanced_title %>
  </p>
  <p>
    <%= f.label :enhanced_text %><br />
    <%= f.text_field :enhanced_text %>
  </p>
  <p>
    <%= f.label :enhanced_link %><br />
    <%= f.text_field :enhanced_link %>
  </p>
  <p>
    <%= f.label :enhanced_image_src %><br />
    <%= f.text_field :enhanced_image_src %>
  </p>
  <p>
    <%= f.label :recommended_title %><br />
    <%= f.text_field :recommended_title %>
  </p>
  <p>
    <%= f.label :recommended_text %><br />
    <%= f.text_field :recommended_text %>
  </p>
  <p>
    <%= f.label :recommended_link %><br />
    <%= f.text_field :recommended_link %>
  </p>
  <p>
    <%= f.label :recommended_image_src %><br />
    <%= f.text_field :recommended_image_src %>
  </p>
  <p>
    <%= f.label :detail_title %><br />
    <%= f.text_field :detail_title %>
  </p>
  <p>
    <%= f.label :detail_text %><br />
    <%= f.text_area :detail_text %>
  </p>
  <p>
    <%= f.label :detail_link %><br />
    <%= f.text_field :detail_link %>
  </p>
  <p>
    <%= f.label :secondary_detail_title %><br />
    <%= f.text_field :secondary_detail_title %>
  </p>
  <p>
    <%= f.label :secondary_detail_text %><br />
    <%= f.text_area :secondary_detail_text %>
  </p>
  <p>
    <%= f.label :secondary_detail_link %><br />
    <%= f.text_field :secondary_detail_link %>
  </p>
  <p>
    <%= f.label :detail_image_src %><br />
    <%= f.text_field :detail_image_src %>
  </p>
  <p>
    <%= f.label :meta_title %><br />
    <%= f.text_field :meta_title %>
  </p>
  <p>
    <%= f.label :meta_description %><br />
    <%= f.text_field :meta_description %>
  </p>
  <p>
    <%= f.label :meta_keywords %><br />
    <%= f.text_field :meta_keywords %>
  </p>
  <p>
    <%= f.label :other_metas %><br />
    <%= f.text_field :other_metas %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', categories_path %>