<p>
  <b>Super category:</b>
  <%=h @category.super_category_id %>
</p>

<p>
  <b>Code:</b>
  <%=h @category.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @category.enabled %>
</p>

<p>
  <b>Visible:</b>
  <%=h @category.visible %>
</p>

<p>
  <b>Enhanced:</b>
  <%=h @category.enhanced %>
</p>

<p>
  <b>New from:</b>
  <%=h @category.new_from %>
</p>

<p>
  <b>New to:</b>
  <%=h @category.new_to %>
</p>

<p>
  <b>Friendly url:</b>
  <%=h @category.friendly_url %>
</p>

<p>
  <b>Css class:</b>
  <%=h @category.css_class %>
</p>

<p>
  <b>Title:</b>
  <%=h @category.title %>
</p>

<p>
  <b>Home order:</b>
  <%=h @category.home_order %>
</p>

<p>
  <b>Home title:</b>
  <%=h @category.home_title %>
</p>

<p>
  <b>Home text:</b>
  <%=h @category.home_text %>
</p>

<p>
  <b>Home link:</b>
  <%=h @category.home_link %>
</p>

<p>
  <b>Home image src:</b>
  <%=h @category.home_image_src %>
</p>

<p>
  <b>List order:</b>
  <%=h @category.list_order %>
</p>

<p>
  <b>List title:</b>
  <%=h @category.list_title %>
</p>

<p>
  <b>List text:</b>
  <%=h @category.list_text %>
</p>

<p>
  <b>List link:</b>
  <%=h @category.list_link %>
</p>

<p>
  <b>List image src:</b>
  <%=h @category.list_image_src %>
</p>

<p>
  <b>Category order:</b>
  <%=h @category.category_order %>
</p>

<p>
  <b>Category title:</b>
  <%=h @category.category_title %>
</p>

<p>
  <b>Category text:</b>
  <%=h @category.category_text %>
</p>

<p>
  <b>Category link:</b>
  <%=h @category.category_link %>
</p>

<p>
  <b>Category image src:</b>
  <%=h @category.category_image_src %>
</p>

<p>
  <b>Enhanced order:</b>
  <%=h @category.enhanced_order %>
</p>

<p>
  <b>Enhanced title:</b>
  <%=h @category.enhanced_title %>
</p>

<p>
  <b>Enhanced text:</b>
  <%=h @category.enhanced_text %>
</p>

<p>
  <b>Enhanced link:</b>
  <%=h @category.enhanced_link %>
</p>

<p>
  <b>Enhanced image src:</b>
  <%=h @category.enhanced_image_src %>
</p>

<p>
  <b>Recommended title:</b>
  <%=h @category.recommended_title %>
</p>

<p>
  <b>Recommended text:</b>
  <%=h @category.recommended_text %>
</p>

<p>
  <b>Recommended link:</b>
  <%=h @category.recommended_link %>
</p>

<p>
  <b>Recommended image src:</b>
  <%=h @category.recommended_image_src %>
</p>

<p>
  <b>Detail title:</b>
  <%=h @category.detail_title %>
</p>

<p>
  <b>Detail text:</b>
  <%=h @category.detail_text %>
</p>

<p>
  <b>Detail link:</b>
  <%=h @category.detail_link %>
</p>

<p>
  <b>Secondary detail title:</b>
  <%=h @category.secondary_detail_title %>
</p>

<p>
  <b>Secondary detail text:</b>
  <%=h @category.secondary_detail_text %>
</p>

<p>
  <b>Secondary detail link:</b>
  <%=h @category.secondary_detail_link %>
</p>

<p>
  <b>Detail image src:</b>
  <%=h @category.detail_image_src %>
</p>

<p>
  <b>Meta title:</b>
  <%=h @category.meta_title %>
</p>

<p>
  <b>Meta description:</b>
  <%=h @category.meta_description %>
</p>

<p>
  <b>Meta keywords:</b>
  <%=h @category.meta_keywords %>
</p>

<p>
  <b>Other metas:</b>
  <%=h @category.other_metas %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>