<p>
  <b>Category:</b>
  <%=h @product.category_id %>
</p>

<p>
  <b>Product type:</b>
  <%=h @product.product_type %>
</p>

<p>
  <b>Code:</b>
  <%=h @product.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Enabled:</b>
  <%=h @product.enabled %>
</p>

<p>
  <b>Visible:</b>
  <%=h @product.visible %>
</p>

<p>
  <b>Saleable:</b>
  <%=h @product.saleable %>
</p>

<p>
  <b>Cost:</b>
  <%=h @product.cost %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<p>
  <b>Special price:</b>
  <%=h @product.special_price %>
</p>

<p>
  <b>Special price from:</b>
  <%=h @product.special_price_from %>
</p>

<p>
  <b>Special price to:</b>
  <%=h @product.special_price_to %>
</p>

<p>
  <b>Iva:</b>
  <%=h @product.iva %>
</p>

<p>
  <b>Width:</b>
  <%=h @product.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @product.height %>
</p>

<p>
  <b>Deep:</b>
  <%=h @product.deep %>
</p>

<p>
  <b>Weight:</b>
  <%=h @product.weight %>
</p>

<p>
  <b>Enhanced:</b>
  <%=h @product.enhanced %>
</p>

<p>
  <b>New from:</b>
  <%=h @product.new_from %>
</p>

<p>
  <b>New to:</b>
  <%=h @product.new_to %>
</p>

<p>
  <b>Warehouse location:</b>
  <%=h @product.warehouse_location %>
</p>

<p>
  <b>Manage stock:</b>
  <%=h @product.manage_stock %>
</p>

<p>
  <b>Stock quantity:</b>
  <%=h @product.stock_quantity %>
</p>

<p>
  <b>Stock availability:</b>
  <%=h @product.stock_availability %>
</p>

<p>
  <b>Shipping cost:</b>
  <%=h @product.shipping_cost %>
</p>

<p>
  <b>Friendly url:</b>
  <%=h @product.friendly_url %>
</p>

<p>
  <b>Css class:</b>
  <%=h @product.css_class %>
</p>

<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Home order:</b>
  <%=h @product.home_order %>
</p>

<p>
  <b>Home title:</b>
  <%=h @product.home_title %>
</p>

<p>
  <b>Home text:</b>
  <%=h @product.home_text %>
</p>

<p>
  <b>Home link:</b>
  <%=h @product.home_link %>
</p>

<p>
  <b>Home image src:</b>
  <%=h @product.home_image_src %>
</p>

<p>
  <b>List order:</b>
  <%=h @product.list_order %>
</p>

<p>
  <b>List title:</b>
  <%=h @product.list_title %>
</p>

<p>
  <b>List text:</b>
  <%=h @product.list_text %>
</p>

<p>
  <b>List link:</b>
  <%=h @product.list_link %>
</p>

<p>
  <b>List image src:</b>
  <%=h @product.list_image_src %>
</p>

<p>
  <b>Category order:</b>
  <%=h @product.category_order %>
</p>

<p>
  <b>Category title:</b>
  <%=h @product.category_title %>
</p>

<p>
  <b>Category text:</b>
  <%=h @product.category_text %>
</p>

<p>
  <b>Category link:</b>
  <%=h @product.category_link %>
</p>

<p>
  <b>Category image src:</b>
  <%=h @product.category_image_src %>
</p>

<p>
  <b>Cart title:</b>
  <%=h @product.cart_title %>
</p>

<p>
  <b>Cart text:</b>
  <%=h @product.cart_text %>
</p>

<p>
  <b>Cart link:</b>
  <%=h @product.cart_link %>
</p>

<p>
  <b>Cart image src:</b>
  <%=h @product.cart_image_src %>
</p>

<p>
  <b>Enhanced order:</b>
  <%=h @product.enhanced_order %>
</p>

<p>
  <b>Enhanced title:</b>
  <%=h @product.enhanced_title %>
</p>

<p>
  <b>Enhanced text:</b>
  <%=h @product.enhanced_text %>
</p>

<p>
  <b>Enhanced link:</b>
  <%=h @product.enhanced_link %>
</p>

<p>
  <b>Enhanced image src:</b>
  <%=h @product.enhanced_image_src %>
</p>

<p>
  <b>Recommended title:</b>
  <%=h @product.recommended_title %>
</p>

<p>
  <b>Recommended text:</b>
  <%=h @product.recommended_text %>
</p>

<p>
  <b>Recommended link:</b>
  <%=h @product.recommended_link %>
</p>

<p>
  <b>Recommended image src:</b>
  <%=h @product.recommended_image_src %>
</p>

<p>
  <b>Detail title:</b>
  <%=h @product.detail_title %>
</p>

<p>
  <b>Detail text:</b>
  <%=h @product.detail_text %>
</p>

<p>
  <b>Detail link:</b>
  <%=h @product.detail_link %>
</p>

<p>
  <b>Secondary detail title:</b>
  <%=h @product.secondary_detail_title %>
</p>

<p>
  <b>Secondary detail text:</b>
  <%=h @product.secondary_detail_text %>
</p>

<p>
  <b>Secondary detail link:</b>
  <%=h @product.secondary_detail_link %>
</p>

<p>
  <b>Detail image src:</b>
  <%=h @product.detail_image_src %>
</p>

<p>
  <b>Detail image2 src:</b>
  <%=h @product.detail_image2_src %>
</p>

<p>
  <b>Detail image3 src:</b>
  <%=h @product.detail_image3_src %>
</p>

<p>
  <b>Detail image4 src:</b>
  <%=h @product.detail_image4_src %>
</p>

<p>
  <b>Detail image4 src:</b>
  <%=h @product.detail_image4_src %>
</p>

<p>
  <b>Detail image5 src:</b>
  <%=h @product.detail_image5_src %>
</p>

<p>
  <b>Detail image6 src:</b>
  <%=h @product.detail_image6_src %>
</p>

<p>
  <b>Meta title:</b>
  <%=h @product.meta_title %>
</p>

<p>
  <b>Meta description:</b>
  <%=h @product.meta_description %>
</p>

<p>
  <b>Meta keywords:</b>
  <%=h @product.meta_keywords %>
</p>

<p>
  <b>Other metas:</b>
  <%=h @product.other_metas %>
</p>

<p>
  <b>Sales quantity:</b>
  <%=h @product.sales_quantity %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>